
Cliente/cliente/Release/

.vs/Got/v16/

.vs/

*.vcxproj

*.log

*.lastbuildstate

*.tlog

Cliente/cliente/cliente/Release/

Cliente/out/build/x64-Debug (predeterminado)/.cmake/api/v1/query/client-MicrosoftVS/

Cliente/out/build/x64-Debug (predeterminado)/

*.aps

Cliente/Cliente/Cliente.vcxproj.filters

Cliente/Cliente/Cliente.vcxproj.user

Cliente/Cliente/Debug/App.obj

Cliente/Cliente/Debug/vc142.idb

Cliente/Cliente/Debug/vc142.pdb

*.exe

Cliente/Debug/Cliente.ilk

Cliente/Debug/Cliente.pdb

ClienteOld/cliente/cliente/cliente.vcxproj.filters

ClienteOld/cliente/cliente/cliente.vcxproj.user
